/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

main {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 700px;
    max-width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: normal;
    padding: 40px;
}

.image {
    position: fixed;
    top: 340px; /* Distância do topo da janela 
    left: 150px; /* Distância da direita da janela 
    width: 400px;
    height: 400px;
    background-color: lightblue;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    z-index: 0;
} */
input[type=radio]:checked ~ label{
    background-color: cyan;
}

input[type=radio]{
    display: none;
}
.input-horario{
    display: inline-block;
}
form{
    border: 3px solid rgb(187, 187, 187);
    padding: 1.5em;
    border-radius: 1.5em;
    margin-bottom: 20px;
}